@import "consts";

#comment-container {
  border-top: 1px solid $border-color;

  input[type="submit"] {
    font-family: $text-ss-ff;
    background-color: #3e97ed;
    color: #eee;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #bd24bb;
    }
  }
}

#comment-form {
  > p {
    margin: 0.5em 0px;
  }
  h3 {
    margin-bottom: 0.2em;
  }
  fieldset {
    border: none;
  }
  input, textarea {
    display: block;
    margin: 1em 0;
    padding: 0.2em;
    border: 1px solid $border-color;
    font-family: $text-ff;
    &[type="email"] {
      margin-bottom: 0;
    }
  }
  input {
    width: 50%;
  }
  textarea {
    width: 80%;
    height: 5em;
    margin-bottom: 0;
  }
  input[type="submit"] {
    width: 15em;
    padding: 0.3em;
  }
  fieldset[disabled="disabled"] input[type="submit"] {
    background-color: #777;
  }
  #cancel-reply {
    display: none;
    float: right;
    font-size: smaller;
  }
}

#comment-form-message {
  background-color: #faffac;
  padding: 0.3em;
  display: none;
}

.comments {
  hr {
    width: 50%;
  }
}

.comment {
  margin-bottom: 0.1em;
  font-size: 0.95em;
  padding-left: 0.8em;
  padding-top: 1em;
  padding-bottom: 1em;

  .message p:last-child {
    margin-bottom: 0;
  }
  .avatar {
    width: 3.25em;
    height: 3.25em;
    float: left;
    margin-right: 1em;
  }
  .date {
    font-size: .8em;
  }
  .author {
    display: inline-block;
    margin: 0 0 .25em;
    font-size: 1.25em;
    line-height: 1;
  }
  .author-badge {
    font-size: smaller;
    background-color: #ffdab9;
    padding: 0 0.5em;
    border-radius: 5px;
    position: relative;
    top: -0.4em;
}
  &.level-0 {
    margin-left: 0.5em;
    border-left: 0.3em solid #ff69b4;
  }
  &.level-1 {
    margin-left: 2.5em;
    border-left: 0.3em solid #8a2be2;
  }
  &.level-2 {
    margin-left: 4.5em;
    border-left: 0.3em solid #fa8072;
  }
  &.level-3 {
    margin-left: 6.5em;
    border-left: 0.3em solid #2e8b57;
  }
  input[type="submit"] {
    font-size: smaller;
    float: right;
    padding: 0.3em 0.5em;
  }
}

.no-js {
  .comment {
    input[type="submit"] {
      display: none;
    }
  }
}

@media screen and(max-width: 600px) {
  #comment-form {
    input, textarea {
      width: 100%!important;
      font-family: $text-ss-ff;
    }
  }
}

@media screen and(max-width: 900px) {
  .comment {
    &.level-1 {
      margin-left: 1.5em;
    }
    &.level-2 {
      margin-left: 2.5em;
    }
    &.level-3 {
      margin-left: 3.5em;
    }
  }
}

@media print {
  #comment-container {
    display: none!important;
  }
}
