$text-color: #333;
$border-color: #ababab;
$background-color: #fdfdfd;
$selection-color: #b4d5fe;
$link-color: #4078f2;
$link-hover-color: #c18401;
$text-ff: 'Cardo', 'Georgia', serif;
$header-ff: 'Noto Serif', 'Georgia', serif;
$code-ff: 'Fira Mono', monospace;
$text-ss-ff: 'Lato', 'Helvetica', sans-serif;
