$text-color: #333;
$highlight-bgcolor: #faffac;
$border-color: #ababab;
$background-color: #fdfdfd;
$selection-color: #b4d5fe;
$link-color: #4078f2;
$link-hover-color: #c18401;
$button-bgcolor: #3e97ed;
$button-hover-bgcolor: #bd24bb;
$button-color: #eee;
$input-bgcolor: #fff;
$disabled-input-bgcolor: #c4c4c4;
$mark-bgcolor: #dee7fd;
$text-ff: 'Cardo', 'Georgia', serif;
$header-ff: 'Noto Serif', 'Georgia', serif;
$code-ff: 'Fira Mono', monospace;
$text-ss-ff: 'Lato', 'Helvetica', sans-serif;
