@import "consts";

nav#topnav {
  text-align: center;
  z-index: 999;
  border-bottom: 1px solid $border-color;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  left: 0px;
  background-color: $background-color;

  a, a:visited {
    color: #000;
    text-decoration: none;
    padding: 0 0.5em;
    &:hover {
      color: $link-color;
    }
  }

  .logo {
    font-weight: bold;
    min-width: 21em;
    display: inline-block;
    text-align: left;
  }

  .links {
    min-width: 29em;
    display: inline-block;
    text-align: right;
  }

  .label-toggle {
      cursor: pointer;
      display: block;
      float: right;
      margin: 0.25em 1em auto 1em;

      #hamburger-round {
        fill: $text-color;
      }

      &:hover #hamburger-round {
        fill: $link-color;
      }
    }

  #menu-toggle, .label-toggle {
    display: none;
  }
}

@media screen and(max-width: 900px) {
  nav#topnav {
    border-bottom: none;
    padding-bottom: 0px;

    .logo {
      border-bottom: 1px solid $border-color;
      display: block;
      min-width: inherit;
      padding-bottom: 10px;
      padding-left: 0.5em;
    }

    .links {
      display: block;
      min-width: inherit;
      clear: both;

      &:first-child {
        border-top: 1px solid $border-color;
      }

      a {
        border-bottom: 1px solid $border-color;
        display: none;
        text-align: center;
        padding: 0.3em;
      }
    }

    .label-toggle {
      display: inline;
    }

    #menu-toggle:checked ~ a {
      display: block;
    }
  }
}
