article.post {
  header {
    margin-bottom: 2em;
    p {
      margin: 0.2em;
      margin-left: 2em;
    }
  }
  h1 {
    font-size: 3.5em;
    margin-bottom: 0.2em;
  }
  h2 {
    font-size: 1.4em;
  }
  .header {
    font-size: 0.9em;
  }
  ul.headers {
    width: 100%;
    margin: 0.1em auto;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      list-style: none;
      display: inline-block;
      padding: 0 0.25em;
      text-align: right;
    }

    svg {
      @include dark-invert-filter();
    }
  }
}

@media screen and(max-width: 640px) {
  article.post {
    h1 {
      font-size: 2em;
    }
    ul.headers {
      justify-content: flex-end;
    }
  }
}

@media screen and(max-height: 750px) {
  article.post h1 {
    font-size: 2em;
  }
}
