@import "consts";

#toc {
  margin-top: 10px;
  text-align: left;
  padding: 0;
  border: 0;
  &.right-toc {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 0;
    h3 {
      line-height: 1;
      margin-top: 4px;
    }
  }
  a {
    padding: 0;
    color: $link-color;
    &:hover {
      color: $link-hover-color;
    }
  }
  h3 {
    margin: 0.5em;
  }
  p {
    font-weight: bold;
    margin-top: 0;
  }
  > ol {
    margin-left: 0;
    margin-top: 5px;
    font-size: 0.9em;
  }
  ol {
    counter-reset: item;
  }
  li {
    margin-top: 0;
    display: block;
    &:before {
      content: counters(item,".") ". ";
      counter-increment: item;
    }
  }
}
p ~ #toc.right-toc h3 {
  margin-top: 18px;
}

@media screen and(max-width: 600px) {
  #toc {
    &.right-toc {
      float: none;
      padding: 0;
      margin-left: 0;
      margin-top: 10px;
    }
    li {
      line-height: 1.69;
    }
  }
}

@media print {
  #toc.right-toc {
    float: none;
    padding: 0;
    margin-left: 0;
    margin-top: 10px;
  }
}
