@import "consts";

#mentions-container {
  ul {
    @include fancy-ul();

    li.mention {
      .date {
        font-size: smaller;
        margin-left: 0.5em;
        color: var(--text-color-u30);
      }
    }
  }
  .likes, .reposts {
    margin-top: 0.5em;
    a {
      margin-right: 0.3em;
      &::after {
        content: ',';
      }
      &:last-child::after{
        content: '',
      }
    }
  }
}

@media print {
  #mentions-container {
    display: none!important;
  }
}
