@import "consts";

#mentions-container {
  ul {
    @include fancy-ul();

    li.mention {
      .date {
        font-size: smaller;
        margin-left: 0.5em;
        color: lighten($text-color, 30%);
      }
    }
  }
}

@media print {
  #mentions-container {
    display: none!important;
  }
}
