@import "default";
@import "consts";

.activity {
  margin-bottom: -0.3em;
  .link {
    display: inline-block;
    width: 2.4em;
    margin: auto;
    a {
      position: relative;
      bottom: -0.03em;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
  .date {
    font-size: 0.8em;
    display: inline-block;
    width: 3.2em;
    color: lighten($text-color, 30%);
  }
  .bar {
    display: inline-block;
    height: 0.8em;
    vertical-align: middle;
    box-shadow: 2px 2px #558ABB;
  }
  .desc {
    font-size: smaller;
    list-style: none;
    padding-left: 0;
    display: inline;

    li {
      display: none;
      &[title="Distance"] {
        display: inline;
      }
    }
  }
}
.ride {
  .bar {
    background-color: #FF8C61;
  }
  .link a {
    color: #FF8C61;
  }
}
.run {
  .bar {
    background-color: #9E85D2;
  }
  .link a {
    color: #9E85D2;
  }
}
.walk {
  .bar {
    background-color: #5fc042;
  }
  .link a {
    color: #5fc042;
  }
}
