@import "syntax";
@import "fonts";
@import "consts";
@import "darkmodetoggle";

body.light.no-js {
    code > span > a {
        filter: invert(0%);
    }
}
body.dark.no-js {
    code > span > a {
        filter: invert(80%);
    }
}

.no-js {
    code, pre {
        background-color: transparent;
        font-family: 'Fira Mono', monospace;
    }
    code > span > a {
        font-size: 0.8em;
        color: var(--code-lnum-color);
        padding-right: 0.5ch;
        margin-right: 1ch;
        width: 4ch;
        display: inline-block;
        text-align: right;
        border-right: 1px dashed #999;
        @media(prefers-color-scheme: dark) {
            filter: invert(80%);
        }
        @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
            filter: invert(0%);
          }
    }
}
#dark-mode-toggle {
    font-family: "Cardo","Georgia",serif;
    line-height: 1.5em;
    color: var(--text-color);
}
body {
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  min-width: 25rem;
  background-color: var(--background-color);
  text-rendering: optimizeLegibility !important;

  @media screen and(max-width: 640px){
      font-size: 0.8em;
  }
  @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }
  @media(prefers-color-scheme: dark) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &.light {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }
  &.dark {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
