@import "comments";
@import "fa";
@import "toc";

$text-color: #333;
$border-color: #ababab;

body {
  max-width: 50em;
  min-width: 20em;
  margin: auto;
  padding: 1em;
  font-family: 'Noto Serif', 'Georgia', serif;
  font-size: 1.1em;
  line-height: 1.4em;
  background-color: #fdfdfd;
  color: $text-color;
  > header {
    h1 {
      font-size: 2.2em;
    }
    h2 {
      font-size: 1.1em;
      font-weight: normal;
    }
    a {
      color: #000;
      text-decoration: none;
    }
  }
  > footer {
    text-align: right;
    border-top: 1px solid $border-color;
    margin-top: 10px;
    font-size: 0.8em;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1em;
}
p {
  margin-bottom: 1.2em;
}
pre {
  padding: 0.2em;
  overflow-x: auto;
  font-size: 0.95em;
}
code {
  font-size: 0.95em;
  font-family: 'Fira Mono', monospace;
}
menu {
  padding: 0;
  margin: 0;
}
ins {
  text-decoration: none;
}
ins::before {
  font-weight: bold;
  content: " > >";
}
hr {
  color: $border-color;
  background-color: $border-color;
  height: 1px;
  border: 0;
}
a, a:visited {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}
nav {
  text-align: right;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding-top: 10px;
  padding-bottom: 10px;
  a, a:visited {
    color: #000;
    text-decoration: none;
    padding: 0 0.5em;
    &:hover {
      color: $link-color;
    }
  }
}
article {
  header {
    margin-bottom: 2em;
    p {
      margin: 0.2em;
      margin-left: 2em;
    }
  }
  h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
  }
  h2 {
    font-size: 1.5em;
  }
  a.img-link {
    text-decoration: none;
    color: inherit;
    img {
      border: 1px solid #ddd;
      margin: 0px auto;
      display: block;
      padding: 0.2em;
      max-width: 100%;
    }
    span {
      display: block;
      text-align: center;
      font-size: 0.8em;
    }
  }
  td.hljs-ln-code {
    padding-left: 0.5em;
  }
  td.hljs-ln-numbers {
    color: brown;
    vertical-align: top;
    border-right: 1px solid #aaa;
    padding-right: 0.5em;
    font-size: smaller;
  }
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
.header {
  text-align: right;
}
.ert {
  text-align: right;
}
#home-posts {
  hr {
    margin: 1em 30%;
    &:last-child {
      display: none;
    }
  }
  h3 {
    margin: 0.5em 0;
  }
  .header, .ert {
    font-size: 0.9em;
  }
  article header {
    margin-bottom: 0;
  }
  .footnoteRef {
      display: none;
  }
}

@media screen and(max-width: 600px) {
  .hide-small {
    display: none;
  }
  body {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: inherit;
  }
  .post h1 {
    font-size: 2em;
  }
}

@media print {
  body {
    font-size: 0.8em;
    header nav {
      text-align: center;
      a {
        display: none;
        :first-of-type {
          display: block!important;
          float: none!important;
        }
      }
    }
  }
  a {
    text-decoration: none!important;
    color: $text-color!important;
  }
  .post {
    .source {
      display: none!important;
    }
    .body a:after {
      display: none!important;
    }
    td.hljs-ln-numbers {
      border-right: none;
    }
  }
}

.figure .caption {
  font-style: italic;
}
.footnotes p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: normal;
}
.post .source {
  font-size: 0.8em;
}

.feed-icon {
  float: right;
  color: $text-color!important;
  &:hover {
    color: $link-color!important;
  }
  > span {
    position: relative;
    bottom: -0.1em;
  }
}
