@import "consts";
@import "fa";
@import "navigation";
@import "comments";
@import "toc";
@import "activities";
@import "readings";
@import "archive";
@import "sidenotes";
@import "pager";
@import "posts";

html {
  overflow-x: hidden;
}

body {
  min-width: 23rem;
  margin: auto;
  padding-top: 0.1px;
  font-family: $text-ff;
  font-size: 1.1em;
  line-height: 1.5em;
  background-color: $background-color;
  color: $text-color;

  > main {
    padding: 0 1em;
    font-size: 1.1em;
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
    h1, h2, h3, h4, h5, h6 {
      font-family: $header-ff;
    }
  }
  > header {
    font-family: $header-ff;

    h1 {
      font-size: 2.2em;
    }
    h2 {
      font-size: 1.1em;
      font-weight: normal;
    }
    a {
      color: #000;
      text-decoration: none;
    }
  }
  > footer {
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
    text-align: right;
    border-top: 1px solid $border-color;
    margin-top: 10px;
    font-size: 0.8em;
    clear: both;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1em;
}
p {
  margin-bottom: 1.2em;
}
pre {
  padding: 0.2em;
  overflow-x: auto;
  font-size: 0.95em;
  &.low-line-height {
    line-height: 0.95em;
  }
}
code {
  font-size: 0.85em;
  font-family: $code-ff;
}
pre {
  code {
    display: block;
  }
}
menu {
  padding: 0;
  margin: 0;
}
ins {
  text-decoration: none;
}
ins::before {
  font-weight: bold;
  content: " > >";
}
hr {
  color: $border-color;
  background-color: $border-color;
  height: 1px;
  border: 0;
}
a, a:visited {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}
em {
  padding-right: 0.2em;
}
ul li {
  list-style: none;
  &:before {
    content: "> ";
  }
}

.sourceCode a {
  color: inherit;
}

@media all {
	.page-break	{
    display: none;
  }
}

@media screen and(max-width: 640px) {
  .hide-small {
    display: none;
  }
  body {
    font-family: $text-ss-ff;
    font-size: inherit;
  }
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  body {
    font-size: 1em;
    main {
      margin-top: 0px;
    }
  }

  a {
    text-decoration: none!important;
    color: $text-color!important;
  }

  .page-break	{
    display: block;
    page-break-before: always;
  }
}

.figure .caption {
  font-style: italic;
}

.feed-icon {
  float: right;
  color: $text-color!important;
  &:hover {
    color: $link-color!important;
  }
  > span {
    position: relative;
    bottom: -0.1em;
  }
}
