body {
    max-width: 50em;
    min-width: 20em;
    margin: auto;
    padding: 1em;
    font-family: "Merriweather", Georgia, serif;
    font-size: 1.1em;
    line-height: 1.4em;
    background-color: #FDFDFD;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
}

p {
    margin-bottom: 1.2em;
}

pre {
    padding: 0.2em;
    overflow-x: auto;
}

code, pre {
    font-size: 0.95em;
}

body>header h1 {
    font-size: 2.2em;
}

body>header h2 {
    font-size: 1.1em;
    font-weight: normal;
}

body>header a {
    color: black;
    text-decoration: none;
}

menu {
    padding: 0;
    margin: 0;
}

nav {
    text-align: right;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: 0 0.5em;
}

nav a:hover {
    color: #7724bd;
    text-decoration: none;
}

article header p {
    margin: 0.2em;
    margin-left: 2em;
}

article header {
    margin-bottom: 2em;
}

article h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

article h2 {
    font-size: 1.5em;
}

.header {
  text-align: right;
}

.ert {
  text-align: right;
}

.fa-events-icons-ready .ert ::before {
  content: "\f017";
  display: inline-block;
  margin-right: .2em;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  vertical-align: middle;
  width: 19px;
}

body>footer {
    text-align: right;
    border-top: 1px solid #ababab;
    margin-top: 10px;
    font-size: 0.8em
}

.figure .caption {
    font-style: italic;
}

ins {
    text-decoration: none;
}

ins::before {
    font-weight: bold;
    content: ">> ";
}

.footnotes p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: normal;
}

.fa-events-icons-ready .post .body h2 a.ref-link:after,
.fa-events-icons-ready .post .body h3 a.ref-link:after {
  content: "\f0c1";
  display: inline-block;
  margin-left: .2em;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: large;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  position: relative;
  top: -0.1em;
}

.fa-events-icons-ready .post .body h2 a.top-link:after,
.fa-events-icons-ready .post .body h3 a.top-link:after {
  content: "\f062";
  display: inline-block;
  float: right;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: large;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: 0.3em;
}

.post .source {
  font-size: 0.8em;
}

hr {
  color: #ababab;
  background-color: #ababab;
  height: 1px;
  border: 0px;
}

#home-posts hr {
  margin: 1em 30%;
}

#home-posts hr:last-child {
  display: none;
}

#home-posts article header {
    margin-bottom: 0px;
}

#home-posts h3 {
    margin: 0.5em 0px;
}

#home-posts .header, #home-posts .ert {
  font-size: 0.9em;
}

@media screen and (max-width: 600px) {
   .hide-small {
      display: none;
   }
   body {
     font-family: 'Trebuchet MS', Helvetica, sans-serif;
   }
}

#toc.right-toc {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 0;
  padding: 0;
}
@media screen and (max-width: 600px) {
  #toc.right-toc {
    float: none;
    padding: 0;
    margin-left: 0;
    margin-top: 10px;
  }
}
#toc.right-toc h3 {
  line-height: 1;
  margin-top: 4px;
}

p ~ #toc.right-toc h3 {
  margin-top: 18px;
}

#toc {
  margin-top: 10px;
  text-align: left;
  padding: 0px;
  border: 0px;
}
#toc a {
  color: #0000EE;
  padding: 0px;
}
#toc h3 {
  margin: 0.5em;
}
#toc p {
  font-weight: bold;
  margin-top: 0;
}
#toc > ol {
  margin-left: 0;
  margin-top: 5px;
  font-size: 0.9em;
}
#toc ol {
  counter-reset: item;
}
#toc li {
  margin-top: 0;
  display: block;
}
@media screen and (max-width: 600px) {
  #toc li {
    line-height: 1.69;
  }
}
#toc li:before {
  content: counters(item,".") ". ";
  counter-increment: item;
}

@media print {
  body {
    font-size: 0.8em;
  }
  body header nav {
    text-align: center;;
  }
  body header nav a {
    display: none;
  }
  body header nav a :first-of-type {
    display: block!important;
    float: none!important;
  }
  #toc.right-toc {
    float: none;
    padding: 0;
    margin-left: 0;
    margin-top: 10px;
  }
  a {
    text-decoration: none!important;
    color: #333!important;
  }
  .post .body a:after, .post .source {
    display: none!important;
  }
}

#comment-form {
  border-top: 1px solid #ababab;
  display: none;
}

#comment-form h3 {
  margin-bottom: 0.2em;
}

#comment-form fieldset {
  border: none;
}

#comment-form input, #comment-form textarea {
  display: block;
  margin: 1em 0px;
  padding: 0.2em;
}

#comment-form textarea {
  width: 80%;
  height: 5em;
  margin-bottom: 0px;
}

#comment-form input {
  width: 50%;
}

#comment-form input[type="submit"] {
  width: 20%;
  background-color: #7724bd;
  color: #eee;
  border: none;
  padding: 0.3em;
  cursor: pointer;
}

#comment-form input[type="submit"]:hover {
  background-color: #bd24bb;
}

#comment-form fieldset[disabled="disabled"] input[type="submit"] {
  background-color: #777;
}
