@import "consts";
@import "fa";
@import "navigation";
@import "comments";
@import "toc";
@import "activities";
@import "readings";
@import "archive";

html {
  overflow-x: hidden;
}

body {
  min-width: 23rem;
  margin: auto;
  padding-top: 0.1px;
  font-family: $text-ff;
  font-size: 1.1em;
  line-height: 1.5em;
  background-color: $background-color;
  color: $text-color;

  > main {
    padding: 0 1em;
    font-size: 1.1em;
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
    h1, h2, h3, h4, h5, h6 {
      font-family: $header-ff;
    }
  }
  > header {
    font-family: $header-ff;

    h1 {
      font-size: 2.2em;
    }
    h2 {
      font-size: 1.1em;
      font-weight: normal;
    }
    a {
      color: #000;
      text-decoration: none;
    }
  }
  > footer {
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
    text-align: right;
    border-top: 1px solid $border-color;
    margin-top: 10px;
    font-size: 0.8em;
    clear: both;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1em;
}
p {
  margin-bottom: 1.2em;
}
pre {
  padding: 0.2em;
  overflow-x: auto;
  font-size: 0.95em;
  &.low-line-height {
    line-height: 0.95em;
  }
}
code {
  font-size: 0.85em;
  font-family: $code-ff;
}
pre {
  code {
    display: block;
  }
}
menu {
  padding: 0;
  margin: 0;
}
ins {
  text-decoration: none;
}
ins::before {
  font-weight: bold;
  content: " > >";
}
hr {
  color: $border-color;
  background-color: $border-color;
  height: 1px;
  border: 0;
}
a, a:visited {
  text-decoration: none;
  color: $link-color;
  &:not(.no-js div.sourceCode):hover {
    color: $link-hover-color;
  }
}
em {
  padding-right: 0.2em;
}

.sourceCode a { color: inherit; }

article {
  header {
    margin-bottom: 2em;
    p {
      margin: 0.2em;
      margin-left: 2em;
    }
  }
  h1 {
    font-size: 2.7em;
    margin-bottom: 0.2em;
  }
  h2 {
    font-size: 1.4em;
  }
  section.twitter-button {
    line-height: 0.8em;
  }
  a.img-link {
    text-decoration: none;
    color: inherit;
    img {
      border: 1px solid #ddd;
      margin: 0px auto;
      display: block;
      padding: 0.2em;
      max-width: 100%;
    }
    span {
      display: block;
      text-align: center;
      font-size: 0.8em;
    }
  }
  td.hljs-ln-code {
    padding-left: 0.5em;
  }
  td.hljs-ln-numbers {
    color: brown;
    vertical-align: top;
    border-right: 1px solid #aaa;
    padding-right: 0.5em;
    font-size: smaller;
  }
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #fafafa;
    border: solid #f3f3f3;
    border-width: 2px 0;
    position: relative;
  }
  small {
    pre {
      white-space: pre;
      code {
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
      }
    }
  }
  .footnotes {
    p {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      line-height: normal;
    }
    ol::before {
      content: "Footnotes";
      margin-left: -2em;
    }
  }
}

.header, .ert {
  text-align: right;
  font-size: 0.9em;
}

.no-js section.twitter-button {
  display: none;
}

#home-posts {
  hr {
    margin: 1em 30%;
    &:last-child {
      display: none;
    }
  }
  h3 {
    margin: 0.5em 0;
  }
  article header {
    margin-bottom: 0;
    a {
      color: $text-color
    }
  }
  .footnoteRef {
      display: none;
  }
}

.post .body > table {
  border-collapse: collapse;
  min-width: 40%;
  td, th {
    padding: 0.2em 1em;
  }
  thead {
    border-top: 2px solid lighten($text-color, 30%);
    border-bottom: 2px solid lighten($text-color, 30%);
  }
  tbody {
    tr {
      border-bottom: 1px solid lighten($text-color, 30%);
    }
  }
}

@media all {
	.page-break	{
    display: none;
  }
}

@media screen and(max-width: 640px) {
  .hide-small {
    display: none;
  }
  body {
    font-family: $text-ss-ff;
    font-size: inherit;
  }
  .post {
    h1 {
      font-size: 2em;
    }
    .body {
      overflow-x: scroll;
      > table {
        td, th {
          padding: 0.2em 0.2em;
        }
      }
    }
  }
}

@media screen and (orientation: landscape) and(max-height: 500px) {
  .post h1 {
    font-size: 2em;
  }
}

@media print {
  body {
    font-size: 0.8em;

    main {
      margin-top: 0px;
    }
  }

  a {
    text-decoration: none!important;
    color: $text-color!important;
  }

  .post {
    .source {
      display: none!important;
    }
    .body {
      > table {
        page-break-inside: avoid;
      }
      a:after {
        display: none!important;
      }
    }
    td.hljs-ln-numbers {
      border-right: none;
    }
  }

  article {
    .twitter-share-button {
      display: none;
    }
    pre {
      border: none!important;
      page-break-inside: avoid;
    }
    small {
      pre {
        white-space: pre-wrap;
        code {
          overflow-x: hidden;
        }
      }
    }
  }

  .post-download {
    display: none;
  }

  .page-break	{
    display: block;
    page-break-before: always;
  }
}

.figure .caption {
  font-style: italic;
}
.post .source {
  font-size: 0.8em;
}

.feed-icon {
  float: right;
  color: $text-color!important;
  &:hover {
    color: $link-color!important;
  }
  > span {
    position: relative;
    bottom: -0.1em;
  }
}

.postlist {
  padding-left: 0.2em;

  li {
    list-style: none;
  }
  .post-date {
    font-size: smaller;
    padding-left: 1.2em;
  }
}
