@import "default";
@import "consts";

ul.fancy {
  @include fancy-ul();
}

.notes {
  time {
    display: inline-block;
    color: var(--text-color-u40);
    font-size: 0.9em;
    min-width: 4em;
    margin-left: 0.5em;
  }
  li {
    line-height: 1.6em;
    .likes, .reposts {
      font-size: 0.75em;
    }
    em {
      font-style: normal;
      background: var(--tag-bgcolor);
      padding: 0.1em 0.3em;
      border-radius: 0.3em;
      font-size: 0.75em;
      font-family: "Noto Serif", georgia, serif;
      margin: 0 0.2em;
      white-space: nowrap;
      a {
        color: var(--text-color);
        &:hover {
          color: inherit;
        }
      }
    }
  }
}