@import "default";
@import "consts";

ul.fancy {
  @include fancy-ul();
}

.notes {
  time {
    display: inline-block;
    color: lighten($color: $text-color, $amount: 40%);
    font-size: 0.9em;
    min-width: 4.5em;
    margin-left: 1em;
  }
}