@import "default";
@import "consts";

body.photos-page {
    main {
        max-width: unset;
        margin-left: unset;
        margin-right: unset;
        padding: 0 0.25vw;

        h1 {
            text-align: center;
        }
    }
}

.photos {
  text-align: center;
  line-height: 0;

  table {
    border-collapse: collapse;
  }

  .photocol {
    width: 33%;
    vertical-align: top;
    padding: 0 0.25vw;

    .ratio-box {
      position: relative;
      max-height: 0;
      display: block;
      width: 100%;
      margin-bottom: 0.5vw;

      img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }

  .lazyload, .lazyloading {
    opacity: 0;
  }
  .lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
  }
}