@import "default";
@import "consts";

body.photos-page {
    main {
        max-width: unset;
        margin-left: unset;
        margin-right: unset;
        padding: 0 0.25vw;

        h1 {
            text-align: center;
        }

        .photos {
            text-align: center;
            line-height: 0;

            table {
              border-collapse: collapse;
            }

            .photocol {
              width: 33%;
              vertical-align: top;
              padding: 0 0.25vw;

              .photo img {
                  width: 100% !important;
                  height: auto !important;
                  margin-bottom: 0.5vw;
              }
            }
        }
    }
}
