@import "default";

a.img-link {
  img {
    max-width: 50rem;
    width: 90vw;
    background-color: $background-color;
  }
  img + span {
    font-size: medium;
    text-align: center;
    display: block;
    color: var(--text-color-u20);
  }
}

.fancy-ul ul {
  @include fancy-ul();
}

ul.fancy {
  @include fancy-ul();
}
