@import "default";

a.img-link {
  img {
    max-width: 50rem;
    width: 90vw;
  }
  img + span {
    font-size: medium;
    text-align: center;
    display: block;
    color: lighten($text-color, 20%);
  }
}

.fancy-ul ul {
  @include fancy-ul();
}

ul.fancy {
  @include fancy-ul();
}
