@import "default";

img {
  max-width: 50rem;
  width: 90vw;
}

#ref-sites {
  ul {
    padding-left: 1em;
    li {
      list-style: none;
      &:before {
        content: "> ";
      }
    }
  }
}
