@import "fonts";
@import "apron";
@import "adirondack";
@import "descartes";

.remark-slide-content {
  &.big-h1 h1 {
    font-size: 7rem;
    margin: 0;
  }
  &.fullcover h1 {
    height: 100%;
    top: 0;
    padding-top: calc(50% - 1.5em);
  }
  &.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    blockquote {
      font-size: 1.5em;
    }
    blockquote + p {
      text-align: right;
    }
  }
}