@import "fonts";
@import "apron";
@import "adirondack";
@import "descartes";

.remark-slide-content {
  &.big-h1 h1 {
    font-size: 7rem;
    margin: 0;
  }
  &.fullcover h1 {
    height: 100%;
    top: 0;
    padding-top: calc(50% - 1.5em);
  }
  &.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    blockquote + p {
      text-align: right;
    }
  }
  &.big {
    blockquote {
      font-size: 1.5em;
    }
  }
  &.fs-50pct {
    code {
      font-size: 50%;
    }
  }
  &.fs-75pct {
    code {
      font-size: 75%;
    }
  }
  &.fs-85pct {
    code {
      font-size: 85%;
    }
  }
  &.no-heading {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
  }
  ul {
    list-style: none;
    li::before {
      content: "» ";
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
  .footer {
    li::before {
      content: "";
    }
  }
  table {
    display: table;
  }
  em {
    border-bottom: 2px solid #333;
    margin-right: 0.1em;
    margin-left: -0.1em;
  }
  &.thank-you {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .no-list ul, .yes-list ul {
    margin-top: 0;
    li {
      margin-bottom: 0.5em;
      text-indent: -0.2em;
      &::before {
        width: 1.2em;
      }
    }
  }
  .no-list ul li::before {
    content: "❌";
  }
  .yes-list ul li::before {
    content: "✔️";
  }
}
.bg-caption {
  @extend %absolute;
  @extend %r-3;
  @extend %b-3;
  @extend %ff-fancy;
  @extend %fs-10rem;
  @extend %color-gray-60pct;
}