@import "default";
@import "consts";
@import "posts";
@import "subscription";

#home-posts {
    hr {
        margin: 1em 30%;
        &:last-child {
            display: none;
        }
    }
    h3 {
        margin: 0.5em 0;
    }
    article.post {
        header {
            margin-bottom: 0;
            a {
                color: $text-color;
            }
        }
        section.body {
            a {
                color: $text-color;
		&.footnote-ref {
		    display: none;
		}
            }
        }
    }
    .footnoteRef {
        display: none;
    }
}

.website-page {
  footer {
    border-top: none;
  }
}

@media screen and(max-width: 900px) {
    #home-posts {
        article.post {
            section.header {
                text-align: right;
            }
        }
    }
}
