<h1>Activities</h1>

<div id="ride-calendar" style="display: none">
  <h2 style="margin: 0px">Rides</h2>
</div>
<svg id="ride-bar-chart" class="bar-chart"></svg>

<div id="run-calendar" style="display: none">
  <h2 style="margin: 0px">Runs/Walks</h2>
</div>
<svg id="run-bar-chart" class="bar-chart"></svg>

<div style="display: flex; justify-content: space-between;">
  <h2 style="margin-top: 0px;">Recent</h2>
  <select id="activity-select" autocomplete="off">
    <option value="all" selected>All</option>
    <option value="run">Runs</option>
    <option value="ride">Rides</option>
    <option value="walk">Walks</option>
  </select>
</div>
$for(activities)$
<section class="activity $type$">
  <h3 class="link"><a href="$url$" target="_blank" rel="noopener">$type$</a></h3>
  <span class="date">$date$</span>
  <span class="bar" style="width: $width$vw; max-width: $width$rem;"
    title="Distance: $distance$ km
Moving Time: $moving_time$
Elevation Gain: $elev_gain$ m
Effort: $suffer_score$
$if(show_speed)$Speed: $speed$ km/h$endif$$if(show_pace)$Pace: $pace$ min/km$endif$
$if(show_hr)$Avg Heart Rate: $heart_rate$ bpm$endif$">&nbsp;</span>
  <span class="desc">$distance$ km</span>
</section>
$endfor$
<br>
<small>Bars scaled by activity
  <a href="https://blog.strava.com/relative-effort/" target="_blank" rel="noopener">effort</a>.
Hover on the bars for activity details.</small>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js" integrity="sha256-+9Mf3cAVmxxudDsr1XwXUeRZFtvdWVYdq5/vcgiYyNU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
<script src="/js/calendar-heatmap.js"></script>
<script>
  window.stravaActivities = $cal_json$;
</script>
<script src="/js/activities.js"></script>
