<h1>Photography</h1>

<section class="photos">
  <table>
    <tr>
    $for(photoCols)$
    <td class="photocol">
      $for(photos)$
      <a href="/$orig$" class="img-link">
        <div class="ratio-box" style="padding-bottom: $padding$%">
          <picture class="photo">
            <source data-srcset="/$xlarge$" media="(min-width: 1680px)">
            <source data-srcset="/$large$" media="(min-width: 960px)">
            <source data-srcset="/$medium$" media="(min-width: 640px)">
            <img data-sizes="auto" data-src="/$small$" class="lazyload" alt="">
          </picture>
          <noscript>
            <picture class="photo">
              <source srcset="/$xlarge$" media="(min-width: 1680px)">
              <source srcset="/$large$" media="(min-width: 960px)">
              <source srcset="/$medium$" media="(min-width: 640px)">
              <img src="/$small$" alt="">
            </picture>
          </noscript>
        </div>
      </a>
      $endfor$
    </td>
    $endfor$
    </tr>
  </table>
</section>
<script src="/js/lazysizes.js"></script>
<script src="/js/lazysizes.unload.js"></script>
<script>
(function(){
  function getPhotos() {
    var imgs = jQuery('.photocol').toArray().map(function(e) {
      return jQuery(e).find("a.img-link").toArray();
    });

    var reImgs = [];
    for (var i = 0; i < Math.max(...imgs.map(function(a) { return a.length; })); i++) {
      for (var j = 0; j < imgs.length; j++) {
        if (imgs[j].length > i) {
          reImgs.push(imgs[j][i]);
        }
      }
    }

    return jQuery(reImgs);
  }

  function navigateToPhotoHash(photos) {
    var hash = window.location.hash;
    if (hash !== "") {
      hash = hash.substring(1);
      photos.each(function() {
        if (this.href.indexOf(hash) != -1) {
          window.history.replaceState({}, "", window.location.pathname);
          jQuery(this).click();
        }
      });
    }
  }

  function setupPhotoGallery() {
    if (typeof jQuery !== 'undefined' && typeof loadStyleSheet !== 'undefined') {
      loadStyleSheet("https://cdn.jsdelivr.net/npm/featherlight@1.7.13/release/featherlight.min.css");
      loadStyleSheet("https://cdn.jsdelivr.net/npm/featherlight@1.7.13/release/featherlight.gallery.min.css");

      jQuery.getScript("https://cdn.jsdelivr.net/npm/featherlight@1.7.13/release/featherlight.min.js", function() {
        jQuery.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/2.0.0/jquery.mobile-events.min.js", function() {
          jQuery.getScript("https://cdn.jsdelivr.net/npm/featherlight@1.7.13/release/featherlight.gallery.min.js", function() {
            var photos = getPhotos();
            photos.featherlightGallery({
              previousIcon: '«',
              nextIcon: '»',
              galleryFadeIn: 300,
              openSpeed: 300,
              loading: 'Loading ...'
            });

            navigateToPhotoHash(photos);
          });
        });
      });
    } else {
      window.setTimeout(setupPhotoGallery, 500);
    }
  }

  setupPhotoGallery();
}());
</script>
