<h1>$title$</h1>

<section class="photos">
  <table>
    <tr>
    $for(photoCols)$
    <td class="photocol">
      $for(photos)$
      <a href="/$orig$" class="img-link">
        <picture class="photo">
          <source srcset="/$xlarge$" media="(min-width: 1680px)">
          <source srcset="/$large$" media="(min-width: 960px)">
          <source srcset="/$medium$" media="(min-width: 640px)">
          <img src="/$small$">
        </picture>
      </a>
      $endfor$
    </td>
    $endfor$
    </tr>
  </table>
</section>
<script>
(function(){
  function setupFeatherlight() {
    if (typeof jQuery !== 'undefined' && typeof loadStyleSheet !== 'undefined') {
      if (jQuery("a.img-link").length > 0) {
        loadStyleSheet("https://cdn.jsdelivr.net/npm/featherlight@1.7.13/release/featherlight.min.css");
        loadStyleSheet("https://cdn.jsdelivr.net/npm/featherlight@1.7.13/release/featherlight.gallery.min.css");

        jQuery.getScript("https://cdn.jsdelivr.net/npm/featherlight@1.7.13/release/featherlight.min.js", function() {
          jQuery.getScript("https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/2.0.0/jquery.mobile-events.min.js", function() {
            jQuery.getScript("https://cdn.jsdelivr.net/npm/featherlight@1.7.13/release/featherlight.gallery.min.js", function() {
              jQuery('a.img-link').featherlightGallery({
                previousIcon: '«',
                nextIcon: '»',
                galleryFadeIn: 300,
                openSpeed: 300,
                loading: 'Loading ...'
              });
            });
          });
        });
      }
    } else {
      window.setTimeout(setupFeatherlight, 500);
    }
  }

  setupFeatherlight();
}());
</script>