<article itemscope itemtype="http://schema.org/Article" class="post">
    <header>
        <h1 itemprop="name" id="#top">$title$</h1>
    </header>

    <ul class="headers">
      <li class="header post-publish-date">
        <svg class="assist-icon" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
          <path d="M6 0l-1 1 2 2 1-1-2-2zm-2 2l-4 4v2h2l4-4-2-2z" />
        </svg>
        <span itemprop="datePublished" content="$date_num$">$date$</span>
      </li>
      <li class="header post-ert">
        <svg class="assist-icon" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
          <path d="M4 0c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 1c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm-.5 1v2.22l.16.13.5.5.34.38.72-.72-.38-.34-.34-.34v-1.81h-1z" />
        </svg>
        A $post_ert$ read
      </li>
      $if(comments_enabled)$
      <li class="header post-comments">
        <svg class="assist-icon" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
          <path d="M.09 0c-.06 0-.09.04-.09.09v5.81c0 .05.04.09.09.09h5.91l2 2v-7.91c0-.06-.04-.09-.09-.09h-7.81z" />
        </svg>
        <a href="#comment-container">$comment_count$ comments</a>
      </li>
      $endif$
      <li class="header post-download">
        <svg class="assist-icon" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
          <path d="M3 0v3h-2l3 3 3-3h-2v-3h-2zm-3 7v1h8v-1h-8z" />
        </svg>
        <a href="/pdfs/posts/$post_slug$.pdf" download rel="nofollow">Download</a>
      </li>
      <li class="header post-tags">
        $if(tags)$
        <svg class="assist-icon tags" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
          <path d="M0 0v2l3 3 1.5-1.5.5-.5-2-2-1-1h-2zm3.41 0l3 3-1.19 1.22.78.78 2-2-3-3h-1.59zm-1.91 1c.28 0 .5.22.5.5s-.22.5-.5.5-.5-.22-.5-.5.22-.5.5-.5z" transform="translate(0 1)" />
        </svg> Tags: $tags$
        $endif$
      </li>
      <li class="header twitter-button">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
          class="twitter-share-button" data-size="large" data-via="abhin4v" data-dnt="true" data-show-count="false">Tweet</a>
      </li>
    </ul>

    <section itemprop="articleBody" class="body">
        $body$
    </section>
    <section class="source">
        $if(author)$
          Posted by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">$author$</span></span>
        $endif$
      <a href="https://github.com/abhin4v/abhin4v.github.io/commits/source/posts/$post_slug$.md"
        target="_blank" rel="noopener" style="float: right;">
        Post history
      </a>
    </section>
</article>
<meta itemprop="url" content="$full_url$">

$if(comments_enabled)$
<div id="comment-container">
  <form method="POST" action="https://api.staticman.net/v2/entry/abhin4v/abhin4v.github.io/source/comments"
        id="comment-form">
    <a id="cancel-reply">Cancel Reply</a>
    <h3>Got suggestions, corrections, or thoughts? Post a comment!</h3>
    <fieldset>
      <input name="options[slug]" type="hidden" value="$post_slug$">
      <input id="comment-redirect" name="options[redirect]" type="hidden" value="$full_url$">
      <input type="hidden" name="options[reCaptcha][siteKey]" value="6LfX6DMUAAAAAK_kbS1LfKKy4bNJbsUmyZFADnfV">
      <input type="hidden" name="options[reCaptcha][secret]" value="xE425Zd96uokSf/t1saMqEvj17HfjYJ4+/gv6B4uqA+PxiCjwSb8BUYeWrIBRKrz+YRLCkC53qSa9HYfBNWohuI1+9SBpw5XJ9WJkilJ/DaSjWP9FsKQM9OLdMDgGo8fUQ3hlfs4svgBzItjOitabrjvYI4u0k4RTsq5ccYISeo=">
      <input type="hidden" id="comment-parent" name="fields[reply_to]" value="">
      <textarea id="comment-text" name="fields[message]" required placeholder="Comment"></textarea>
      <span style="font-size: smaller">
        <a href="https://kramdown.gettalong.org/quickref.html" target="_blank" rel="noopener">Markdown</a> is allowed
      </span>
      <input name="fields[name]" type="text" required placeholder="Name">
      <input name="fields[email]" type="email" required placeholder="Email">
      <div style="font-size: smaller; margin-bottom: 1em;">
          Email is used just to show an avatar image and is not displayed or stored
      </div>
      <div class="g-recaptcha" data-sitekey="6LfX6DMUAAAAAK_kbS1LfKKy4bNJbsUmyZFADnfV"></div>
      <div style="font-size: smaller;">Comments are moderated. They will appear below after they are approved.</div>
      <input id="comment-form-submit" type="submit" value="Post Comment">
      <span id="comment-form-message"></span>
    </fieldset>
  </form>
  <div class="comments">
    <h3>$comment_count$ comments
      <a href="#top" class="top-link" title="Back to top"></a>
    </h3>
    $for(comments)$
      $body$
    $endfor$
  </div>
</div>
<script src="/js/comment-form.js" defer async></script>
<script src="https://www.google.com/recaptcha/api.js" defer async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js" defer async></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@6.1.0/promise.min.js" defer async></script>
$endif$

$if(mentions_enabled)$
<div id="mentions-container">
  <h3>$mention_count$ mentions
    <a href="#top" class="top-link" title="Back to top"></a>
  </h3>
  <ul>
  $for(mention_links)$
    <li class="mention" id="#mention-$link_id$">
      <a href="$link_source$" target="_blank" rel="noopener">$link_source_name$</a>
      <span class="date">$link_date$</span>
    </li>
  $endfor$
  </ul>
</div>
$endif$

<ul class="pager">
  <li class="previous">
    $if(prev_post_url)$
    <a href="$prev_post_url$" title="Previous">
      <svg class="assist-icon" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
        <path d="M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z" transform="translate(1)" />
      </svg>
      <span class="ind">Previous</span> <br>
      <span class="title">$prev_post_title$</span>
    </a>
    $endif$
  </li>

  <li class="next">
    $if(next_post_url)$
    <a href="$next_post_url$" title="Next">
      <span class="ind">Next</span>
      <svg class="assist-icon" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
        <path d="M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z" transform="translate(1)" />
      </svg> <br>
      <span class="title">$next_post_title$</span>
    </a>
    $endif$
  </li>
</ul>

<script src="/js/post-styling.js" defer async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/haskell.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.1.0/highlightjs-line-numbers.min.js"></script>
<script src="https://platform.twitter.com/widgets.js" charset="utf-8" defer async></script>
<script>
  hljs.initHighlightingOnLoad();
  hljs.initLineNumbersOnLoad({
    singleLine: true
  });

  window.setTimeout(function() {
      if (window.twttr == undefined) {
        document.getElementsByClassName("twitter-button")[0].setAttribute("style", "display: none");
      }
    }, 3000);
</script>
