<article itemscope itemtype="http://schema.org/Article">
    <header>
        <h1 itemprop="name">$title$</h1>
    </header>
    <section class="header">
        Posted on <span itemprop="datePublished" content="$date_num$">$date$</span>
        $if(author)$
            by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">$author$</span></span>
        $endif$
    </section>
    <section class="header">
        $if(tags)$
        Tags: $tags$
        $endif$
    </section>
    <section itemprop="articleBody">
        $body$
    </section>
    <a href="/$path$" style="font-size: 0.8em">Source</a>
</article>
<meta itemprop="url" content="$full_url$">
