<article itemscope itemtype="http://schema.org/Article" class="post">
    <header>
        <h1 itemprop="name" id="#top">$title$</h1>
    </header>

    <ul class="headers">
      <li class="header post-publish-date">
        <span class="fa fa-pencil fa-fw" aria-hidden="true"></span>
        <span itemprop="datePublished" content="$date_num$">$date$</span>
      </li>
      <li class="header post-ert">
        <span class="fa fa-clock-o fa-fw" aria-hidden="true"></span>
        A $post_ert$ read
      </li>
      $if(comments_enabled)$
      <li class="header post-comments">
        <span class="fa fa-comment fa-fw" aria-hidden="true"></span>
        <a href="#comment-container">$comment_count$ comments</a>
      </li>
      $endif$
      <li class="header post-download">
        <span class="fa fa-download fa-fw" aria-hidden="true"></span>
        <a href="/pdfs/posts/$post_slug$.pdf" download rel="nofollow">Download</a>
      </li>
      <li class="header post-tags">
        $if(tags)$
        <span class="fa fa-tags fa-fw" aria-hidden="true"></span> Tags: $tags$
        $endif$
      </li>
      <li class="header twitter-button">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
          class="twitter-share-button" data-size="large" data-via="abhin4v" data-dnt="true" data-show-count="false">Tweet</a>
      </li>
    </ul>

    <section itemprop="articleBody" class="body">
        $body$
    </section>
    <section class="source">
        Posted on <span itemprop="datePublished" content="$date_num$">$date$</span>
        $if(author)$
            by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">$author$</span></span>
        $endif$
      <a href="https://github.com/abhin4v/abhin4v.github.io/commits/source/posts/$post_slug$.md"
        target="_blank" rel="noopener" style="float: right;">
        Post history
      </a>
    </section>
</article>
<meta itemprop="url" content="$full_url$">
$if(comments_enabled)$
<div id="comment-container">
  <h3>$comment_count$ comments</h3>
  <div class="comments">
  $for(comments)$
      $body$
  $endfor$
  </div>
  <form method="POST" action="https://api.staticman.net/v2/entry/abhin4v/abhin4v.github.io/source/comments"
        id="comment-form">
    <a id="cancel-reply">Cancel Reply</a>
    <h3>Leave a comment</h3>
    <p>Comments are moderated. They will appear here after they are approved.</p>
    <fieldset>
      <input name="options[slug]" type="hidden" value="$post_slug$">
      <input id="comment-redirect" name="options[redirect]" type="hidden" value="$full_url$">
      <input type="hidden" name="options[reCaptcha][siteKey]" value="6LfX6DMUAAAAAK_kbS1LfKKy4bNJbsUmyZFADnfV">
      <input type="hidden" name="options[reCaptcha][secret]" value="xE425Zd96uokSf/t1saMqEvj17HfjYJ4+/gv6B4uqA+PxiCjwSb8BUYeWrIBRKrz+YRLCkC53qSa9HYfBNWohuI1+9SBpw5XJ9WJkilJ/DaSjWP9FsKQM9OLdMDgGo8fUQ3hlfs4svgBzItjOitabrjvYI4u0k4RTsq5ccYISeo=">
      <input type="hidden" id="comment-parent" name="fields[reply_to]" value="">
      <textarea id="comment-text" name="fields[message]" required placeholder="Comment"></textarea>
      <span style="font-size: smaller">
        <a href="https://kramdown.gettalong.org/quickref.html" target="_blank" rel="noopener">Markdown</a> is allowed
      </span>
      <input name="fields[name]" type="text" required placeholder="Name">
      <input name="fields[email]" type="email" required placeholder="Email">
      <div style="font-size: smaller; margin-bottom: 1em;">
          Email is used just to show an avatar image and is not displayed or stored
      </div>
      <div class="g-recaptcha" data-sitekey="6LfX6DMUAAAAAK_kbS1LfKKy4bNJbsUmyZFADnfV"></div>
      <input id="comment-form-submit" type="submit" value="Post Comment">
      <span id="comment-form-message"></span>
    </fieldset>
  </form>
</div>
<script src="/js/comment-form.js" defer async></script>
<script src="https://www.google.com/recaptcha/api.js" defer async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js" defer async></script>
<script href="https://cdn.jsdelivr.net/npm/promise-polyfill@6/dist/promise.min.js" defer async></script>
$endif$

<ul class="pager">
  <li class="previous">
    $if(prev_post_url)$
    <a href="$prev_post_url$" title="Previous">
      <span class="fa fa-chevron-left" aria-hidden="true"></span>
      <span class="ind">Previous</span> <br>
      <span class="title">$prev_post_title$</span>
    </a>
    $endif$
  </li>

  <li class="next">
    $if(next_post_url)$
    <a href="$next_post_url$" title="Next">
      <span class="ind">Next</span>
      <span class="fa fa-chevron-right" aria-hidden="true"></span> <br>
      <span class="title">$next_post_title$</span>
    </a>
    $endif$
  </li>
</ul>

<script src="/js/post-styling.js" defer async></script>
<script src="https://platform.twitter.com/widgets.js" charset="utf-8" defer async></script>
<script>
  window.asn_ss = window.asn_ss || [];
  window.asn_ss.push("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css");
  window.asn_ss.push("https://cdn.rawgit.com/noelboss/featherlight/1.7.9/release/featherlight.min.css");
  window.setTimeout(function() {
      if (window.twttr == undefined) {
        document.getElementsByClassName("twitter-button")[0].setAttribute("style", "display: none");
      }
    }, 3000);
</script>
