<h1>$title$</h1>
<ul class="fancy">
	<li><a href="#current">Currently Reading</a></li>
	<li><a href="#read">Read</a></li>
	<li><a href="#hold">On Hold</a></li>
	<li><a href="#to-read">To Read</a></li>
</ul>

<h2 id="current">Currently Reading</h2>
<div class="books">
  $for(books_reading)$
  <div class="book reading">
    $partial("templates/book.html")$
  </div>
  $endfor$
</div>
<hr />

<h2 id="read">Read</h2>
<div class="books">
  $for(books_read)$
  <div class="book read">
    $partial("templates/book.html")$
    <div class="read-date">
      $if(has_read_date)$
        Read in $read_date$
      $else$
        Added in $added_date$
      $endif$
    </div>
    $if(has_rating)$<div class="rating">$rating$</div>$endif$
  </div>
  $endfor$
</div>
<hr />

<h2 id="hold">On Hold</h2>
<div class="books">
  $for(books_on_hold)$
  <div class="book to-read">
    $partial("templates/book.html")$
  </div>
  $endfor$
</div>
<hr />

<h2 id="to-read">To Read</h2>
<div class="books">
  $for(books_to_read)$
  <div class="book to-read">
    $partial("templates/book.html")$
  </div>
  $endfor$
</div>
<hr style="visibility: hidden; clear: both;" />
