<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="copyright" content="Abhinav Sarkar">
    <meta name="robots" content="index,follow">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta property="og:title" content="$title$">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="abhinavsarkar.net">
    <meta name="language" content="EN">
    <meta name="author" content="Abhinav Sarkar, abhinav@abhinavsarkar.net">
    <meta name="HandheldFriendly" content="True">

    <title>$title$ | abhinavsarkar.net</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/remark.css"/>

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      _paq.push(['trackVisibleContentImpressions']);
      (function() {
        var u="//anna.abhinavsarkar.net/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>
  <body>
    <noscript>
      <p>Javascript is required to view this slideshow.</p>
    </noscript>
    <textarea id="source">
$body$
    </textarea>
    <script src="/js/remark.min.js" type="text/javascript">
    </script>
    <script type="text/javascript">
      var slideshow = remark.create({
        highlightStyle: 'atom-one-light',
        highlightLines: true,
        countIncrementalSlides: false,
        slideNumberFormat: '%current%',
        ratio: '$aspect_ratio$',
        navigation: {
          scroll: false,
          click: true
        }
      });
      document.querySelectorAll("a[href^='http']").forEach(function(a) {
        a.target = "_blank";
      });
    </script>
    $if(live_reload)$
    <script src="http://livejs.com/live.js#html,css"></script>
    $endif$
  </body>
</html>
