<form id="subscription"
  action="https://feedburner.google.com/fb/a/mailverify"
  method="post" target="popupwindow"
  onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=abhinavsarkarnet', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
  <input type="email" name="email" required placeholder="your.email@example.com" />
  <input type="hidden" value="abhinavsarkarnet" name="uri" />
  <input type="hidden" name="loc" value="en_US" />
  <input type="submit" value="Subscribe" />
</form>
