<h1>$title$</h1>
$if(event)$<h2>$event$</h2>$endif$

$if(youtube_id)$
<div class='embed-container'>
  $if(youtube_thumb)$
  <a href="http://www.youtube.com/watch?v=$youtube_id$" target="_blank" rel="noopener">
    <img src="http://img.youtube.com/vi/$youtube_id$/maxresdefault.jpg">
  </a>
  $else$
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/$youtube_id$" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  $endif$
</div>
$endif$

$body$

<h3>Slides</h3>
$if(speakerdeck_id)$
<script async class="speakerdeck-embed" data-id="$speakerdeck_id$" data-ratio="$slides_ratio$" src="//speakerdeck.com/assets/embed.js">
</script>
$endif$
$if(slides_path)$
<div id="slides-container" style="padding-bottom: $inv_aratio$%">
  <iframe id="slides" src="/slides/$slides_path$/" allowfullscreen allow="fullscreen"></iframe>
  <button class="slide-control notes-button">
    Toggle Notes
  </button>
  <svg class="slide-control fullscreen-button"
       xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 8 8">
    <path d="M0 0v4l1.5-1.5 1.5 1.5 1-1-1.5-1.5 1.5-1.5h-4zm5 4l-1 1 1.5 1.5-1.5 1.5h4v-4l-1.5 1.5-1.5-1.5z" />
  </svg>
</div>
<progress id="slides-progress" value="1" min="1" max="50"></progress>
<p class="inst">Click on the slide above and use the arrow keys or tap on left/right to navigate.</p>
<script src="/js/talk.js"></script>
$endif$
